@import url("myap-font/style.css");
:root {
    --color: rgb(210, 0, 32);
    --dark: rgb(13, 21, 56);
    --light: rgb(251, 252, 232);
    --tile-background-light: rgb(249, 246, 244);
    --autumn-light: rgb(253, 197, 52); /* Sunglow */
    --autumn: rgb(235, 137, 71); /* Jasper Orange: https://www.schemecolor.com/warm-autumn.php */
    --autumn-dark: rgb(110, 49, 68); /* Catawba */
}

/* https://www.fontsquirrel.com/ */

@font-face {
    font-family: 'robotolight';
    src: url('roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.woff2') format('woff2'), url('roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'), url('roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'), url('roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'homemade_appleregular';
    src: url('homemade-apple-fontfacekit/web fonts/homemadeapple_regular_macroman/HomemadeApple-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloriaHallelujah';
    src: url('gloria-hallelujah/GloriaHallelujah.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bilbo-Regular';
    src: url('bilbo/Bilbo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

.floor {
    font-family: "Segoe UI", robotolight, Serif;
    width: 1230px;
    margin: 0 auto 0 auto;
    display: block;
}

.control-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5%;
    padding-bottom: 0.5em;
    border-bottom: 0.5em solid var(--dark);
}

.control-panel .logo {
    width: 285px;
}

.control-panel nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 1em;
    width: 600px;
    flex-grow: 1;
    height: 100%;
}

.control-panel nav a {
    display: block;
    font-size: 1.6rem;
    color: rgb(13, 21, 56);
    text-decoration: none;
    position: relative;
    margin: 0 0.5rem 0 1rem;
}

.control-panel nav a:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-bottom: rgb(5, 115, 152) solid 3px;
    width: 0;
    background: transparent;
    transition: width .2s ease, border-bottom .3s ease;
    text-align: center;
    height: 2rem;
}

.control-panel nav a:hover:after, .control-panel nav a.selected:after {
    width: 100%;
}

.command-bar-article {
    width: 100px;
}

.command-bar-article .icon {
    display: block;
    color: var(--main-color-dark);
    background-color: white;
    text-align: center;
    border: 0;
    border-left: 4px solid #fff;
    font-size: 5vh;
    height: 100%;
    width: 5.5rem;
}

.command-bar-article a.icon {
    text-decoration: none;
}

.command-bar-article .icon:hover {
    color: var(--main-color-color);
    cursor: pointer;
}

.floor>footer {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    ;
    color: white;
    background-color: #414A4C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.floor>div {
    margin: 1em 1em 1em 1em;
}

/* accessability en tooltip */

.screen-reader-text {
    /* Reusable, toolbox kind of class
        voor screen readers, op die manier
        kunnen de readers lezen waarvoor
        de knop staat; de tekst is zelf
        niet zichtbaar op het scherm door negatieve
        waarden toe te kennen aan top en left */
    /* vroeger:
    position: absolute;
    top: -9999px;
    left: -9999px;

    We maken er een tooltip van en volgen daarbij:
    https://www.w3schools.com/howto/howto_css_tooltip.asp
    https://www.w3schools.com/css/css_tooltip.asp

    Tooltip container is bij ons:
    .editor .command-bar .tile, .file-manager .command-bar .tile
    */
    visibility: hidden;
    width: 140px;
    background-color: #cccccc;
    color: #555;
    font-size: 0.8rem;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: auto;
    top: -12px;
    right: 110%;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */

.screen-reader-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -2px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #ccc;
}

/* Show the tooltip text when you mouse over the tooltip container */

nav .tile:hover .screen-reader-text {
    visibility: visible;
    opacity: 1;
}

/*---------------- tiles -----------------------*/

.show-room {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 0 0 0;
}

/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */

.show-room h1, h2 {
    font-family: "Segoe UI", robotolight, Serif;
}

.show-room .tile {
    border: 1px var(--dark) dotted;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    color: var(--dark);
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.05);}

.show-room a.tile {
    text-decoration: none;
}

.show-room a.tile:hover {
    text-decoration: underline;
}

.show-room .tile h1 {
    font-size: 1.8em;
    line-height: 1.1em;
    color: inherit;
}

.show-room .tile.start {
    justify-content: flex-start;
}

.show-room .tile.end {
    justify-content: flex-end;
}

.show-room .tile.text-align-left {
    text-align: left;
}

.show-room .tile.text-align-right {
    text-align: right;
}

.show-room .tile.text-align-center {
    text-align: center;
}

.show-room .tile.dark {
    color: var(--light);
    /* rgb(2251, 252, 232); */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.show-room .tile.light {
    color: var(--dark);
}

.show-room .tile.autumn-background {
    background-color: var(--autumn);
}

.show-room .tile.autumn-light-background {
    background-color: var(--autumn-light);
}

.show-room .tile.autumn-dark-background {
    background-color: var(--autumn-dark);
}

.show-room .tile.big {
    margin-bottom: 16px;
    margin-right: 4px;
    height: 600px;
    width: 600px;
}

.show-room .portrait {
    margin-bottom: 16px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 298px;
}

.show-room .tile.landscape {
    margin-bottom: 16px;
    margin-right: 4px;
    height: 292px;
    width: 600px;
}

.show-room .tile.square {
    height: 292px;
    width: 296px;
    margin-bottom: 16px;
    margin-right: 4px;
}

/* -------------------- afbeelding show room -------------------*/

.show-room .tile figure.picture {
    width: 80%;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
    margin: 2em 10% 2em 10%;
    padding: 0.8em;
    display: block;
}

.show-room .tile figure.picture figcaption {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.8rem;
    display: block;
    /* For IE8 */
}

.show-room .tile figure.picture img {
    width: 80%;
    margin: 10%;
}

/*----------------- form onderdelen -------------------*/

.upload {
    width: 100%;
    display: grid;
    grid-template-columns: [labels] 7.5em [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em .5em;
    background: beige;
    padding: 1.2em;
}

.upload label {
    font-family: 'Unkempt', sans-serif;
}

.upload>.first {
    grid-column: labels;
    grid-row: auto;
}

.upload>.second {
    grid-column: controls;
}

.upload input {
    font-size: 0.9em;
    grid-row: auto;
    padding: .4em;
    border: 0;
    width: 100%;
}

.upload>.two {
    grid-column: 1 / 3;
}

.upload input[type="file"] {
    font-size: 1em;
    width: 100%;
}

.upload input[type="checkbox"] {
    font-size: 1em;
    width: 10%;
}

.upload>fieldset {
    grid-column: span 2;
}

.upload>button {
    grid-column: 1 / 3;
    font-size: 1.25em;
    background-color: rgb(195, 0, 74);
    border: solid 1px #3b444b;
    border-radius: 0.2em;
    color: white;
    transition: background-color ease 0.3s, color ease 0.3s, border-color ease 0.3s;
    height: 2em;
    margin: 0 25% 0 25%;
}

.upload div span {
    color: #C20300;
    font-size: smaller;
}

.upload textarea {
    height: 34em;
    padding: 1em;
    width: 100%;
}

/* --------------- tekstonderdelen -------------------------*/

article {
    width: 800px;
    margin: 0 auto 0 auto;
    background-color: var(--tile-background-light);
    padding: 2%;
}

article h1, h2 {
    font-family: GloriaHallelujah, "Segoe UI", robotolight, Serif;
    color: #C20300;
}

article h1 {
    font-size: 2em;
}

article h2 {
    font-size: 1.5em;
}

article h3 {
    font-size: 1.17em;
}

article h4 {
    font-size: 1.12em;
}

article h5 {
    font-size: .83em;
}

article h6 {
    font-size: .75em;
}

article header {
    font-size: 1.1;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}

article header p {
    margin: 0.3em 0 0.3em 0;
}

article p {
    margin: 0.5em 0 0.5em 0;
}

article p span {
    color: #C20300;
    font-weight: bold;
}

/* http://www.w3.org/Style/Examples/007/color-bullets.en.html */

article ol {
    list-style: none;
    counter-reset: li;
}

/* And then we use it like we did the bullet above: */

article ol li::before {
    content: counter(li);
    color: rgb(322, 69, 16);
    display: inline-block;
    width: 1em;
    margin-left: 1em
}

article ol.programma li::before {
    color: #00a000;
}

/* One more thing is missing: As it is our own counter, we're responsible for augmenting it as well: */

article ol li {
    counter-increment: li;
}

article ul {
    list-style: none;
    margin: 1em 0.2em 0 0;
}

article ul ul {
    margin: 0 0.5em 0 0.5em;
}

article p+ul {
    margin-top: 0;
}

article ul li {
    margin: 0 0.5em 0.2em 0.5em;
}

article ul li span {
    font-size: 1.2rem;
    color: rgb(322, 69, 16);
}

article ul li p {
    margin-left: 1em;
}

article ul.programma li::before {
    color: #00a000;
}

article ul li::before {
    content: "• " attr(aria-label) "\00a0";
    color: #C20300;
    font-size: 1.1rem;
    display: inline-block;
}

article ul::before {
    content: attr(aria-label);
    font-size: 1.2rem;
    color: #C20300;
}

article ul.programma::before {
    color: #00a000;
}

/* -------------------- afbeelding -------------------*/

article figure.picture {
    width: 90%;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
    margin: 1em 5% 1em 5%;
    padding: 1em;
    display: block;
}

article figure.picture.small {
    width: 60%;
    margin: 2em 20% 2em 20%;
    padding: 2em;
}

article figure.picture figcaption {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.8rem;
    height: 2em;
    display: block;
    /* For IE8 */
}

article figure.picture img {
    width: 100%;
}

article figure.aside-picture {
    width: 96%;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
    margin: 2em 1em 2em 1em;
    padding: 0.8em;
    display: flex;
}

article figure.aside-picture img {
    height: 12em;
}

article figure.aside-picture figcaption {
    margin-left: 1em;
}

article img.first-letter {
    clear: both;
    float: left;
    margin: 1em 1em 1em 0;
    height: 10em;
}

article img.first-letter-small {
    height: 9em;
}

article img.first-letter-xs {
    height: 7em;
}

article img.first-letter-xss {
    height: 5em;
}

article img.first-letter-large {
    height: 12em;
}

article img.first-letter-xl {
    height: 14em;
}

article img.first-letter-xxl {
    height: 16em;
}

/* http://www.webmaster-source.com/2012/04/24/pure-css-blockquote-styling/ */

article blockquote {
    background: #f9f9f9;
    border-left: 3px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

article blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

article blockquote p {
    display: block;
}

article blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

article blockquote cite:before {
    content: "\2014 \2009";
}

@media only screen and (max-width: 1620px) {
    .floor {
        width: 920px;
        margin: 0 auto 0 auto;
    }
}

@media only screen and (max-width: 1200px) {
    .floor {
        width: 600px;
        margin: 0 auto 0 auto;
    }
    .show-room .portrait {
        height: 298px;
        width: 600px;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .floor {
        width: 300px;
        margin: 0 auto 0 auto;
    }
    .show-room .portrait {
        height: 600px;
        width: 298px;
        flex-direction: column;
    }
    .control-panel nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .show-room .tile.big {
        height: 400px;
        width: 296px;
    }
    article {
        width: 100%;
        margin: 0 auto 0 auto;
        background-color: var(--tile-background-light);
        padding: 0;
    }
    article figure.picture, article figure.picture.small  {
        width: 100%;
        margin: 0.5em 0 0 0;
        padding: 0;
    }
    article figure.aside-picture {
        flex-direction: column;
    }
    article figure.aside-picture figcaption {
        margin-left: 0;
    }
    article figure.aside-picture img {
        width: 10em;
        height: auto;
    }
}