<p class="email">jef.inghelbrecht@telenet.be</p>
<p class="first-name">Joseph</p>
<p class="last-name">Inghelbrecht</p>
<p class="street">Jodenstraat 36</p>
<p class="postal-code">2000</p>
<p class="city">Antwerpen</p>
<p class="country">België</p>
<p class="phone">0486 78 87 23</p>
<p class="time">9u-10u30</p>
<p class="choice">omelet natuur</p>
<p class="agreement">Ik ben akkoord met het privacybeleid.</p>
