<p class="email">joseph.inghelbrecht@outlook.be</p>
<p class="first-name">Joseph</p>
<p class="last-name">Inghelbrecht</p>
<p class="street">Jodenstraat 36</p>
<p class="postal-code">2000</p>
<p class="city">Antwerpen</p>
<p class="country">België</p>
<p class="phone">0486 788723</p>
<p class="time">11u-12u30</p>
<p class="choice">omelet natuur</p>
<p class="agreement">Ik ben akkoord met het privacybeleid.</p>
